.daily-tasks {
    background-color: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.task-form {
    padding: 27px;
}
.task-form h2 {
    text-align: center;
    text-transform: uppercase;
}
.daily-tasks.disabled {
    opacity: 0.5;
    pointer-events: none;
}